body {
	width: 600px;
	margin: 25px auto;
}

button {
	border-radius: 5px;
	background: none;
}

button:focus {
	outline: none;
}

h1 {
	text-align: center;
	font-family: 'Bubblegum Sans', cursive;
}

ul {
	padding-right: 40px;
	font-family: 'Average Sans', sans-serif;
}

li {
	list-style-type: decimal;
	width: 520px;
	height: 60px;
	margin: 0;
	line-height: 50px;
	font-size: 20px;
}

input {
	width: 300px;
	height: 20px;
	border: 1px solid black;
	border-radius: 8px;
	text-align: center;
}

input:focus {
	outline: none;
}

.done {
	color: green;
	text-decoration: line-through;
}

.done-btn {
	width: 40px;
	height: 40px;
	margin: 5px 2.5px;
	float: right;
}

.done-btn:hover {
	color: green;
	background-color: #ccffcc;
}

.del-btn:hover {
	color: red;
	background-color: #ffb3b3;
}

.del-btn {
	width: 40px;
	height: 40px;
	margin: 5px 2.5px;
	float: right;
}

.edit-box {
	display: none;
}

.edit-mode {
	margin-bottom: 20px;
}

.add {
	padding: 10px;
	text-align: center;
}

.error {
	text-align: center;
	font-size: 14px;
	border: 2px solid red;
	background-color: #ffb3b3;
	font-family: 'Average Sans', sans-serif;
}

#add-btn {
	font-family: 'Average Sans', sans-serif;
	outline: none;
}

#add-btn:hover {
	background-color: #99d6ff;
	color: white;
}
